<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    
    <div class="bg-light border-right" id="sidebar-wrapper">
      
    
      <div class="sidebar-heading">IOT-Group02</div>
      <div class="list-group list-group-flush">
        <a routerLink='results' class="list-group-item list-group-item-action bg-light">Results</a>
        <a routerLink='history' class="list-group-item list-group-item-action bg-light">History</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>    

    <router-outlet></router-outlet>
    </div>
    
    <!-- /#page-content-wrapper -->
  </div>
  
  <!-- /#wrapper -->
